<!DOCTYPE html>
<html>

<%- include("partials/head")  %>

<body>
  <%- include("partials/header")  %>
  <div class="main-wrapper">
    <%- include("partials/navigation")  %>
    <main>
      <h2>Inventory</h2>
      <div>Total Categories: <%= totalCategories %></div>
    </main>
  </div>
  <%- include("partials/footer")  %>
</body>

</html>