<!DOCTYPE html>
<html>

<%- include("partials/head")  %>

<body>
  <%- include("partials/header")  %>
  <div class="main-wrapper">
    <%- include("partials/navigation")  %>
    <main>
      <h2><%- product.name %> </h2>
      <div>
        <p>Do you really want to delete this product?</p>
        <form
          action=""
          method="POST"
        >
          <input
            type="hidden"
            id="<%= product.id %>"
            name="productID"
            value="<%= product.id %>"
            required
          >
          <div class="block">
            <label for="code">Confirmation code</label>
            <input
              type="text"
              id="code"
              name="code"
            >
            <div class="input-errors">
              <% if (typeof errors !== 'undefined' ) { %>
              <% errors.map(error => { %>
              <% if (error.path === "code") { %>
              <div class="input-error"><%= error.msg %></div>
              <% } %>
              <% }) %>
              <% } %>
            </div>
          </div>
          <button type="submit">Delete</button>
        </form>
      </div>
    </main>
  </div>
  <%- include("partials/footer")  %>
</body>

</html>