<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}); %>

<body>
  <main>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1>
        <%= title %>
      </h1>
      <% author_list.forEach(author=> { %>
      <ul>
        <li>
          <a href="<%= author.url %>">
            <%= author.name %>
          </a>
          <% if (author.birth_date) { %>
          <span>(<%= author.birth_date %> - <%= author.death_date %>)</span>
          <% } else { %>
          <span>( Unknown )</span>
          <% } %>

        </li>
      </ul>
      <%}) %>
      <% if (author_list.length === 0) { %>
      <h2>There are no authors</h2>
      <% } %>
    </div>
  </main>
</body>

</html>