<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}); %>

<body>
  <main>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1>
        ID:
        <%= bookinstance.id %>
      </h1>
      <p>Title: <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a></p>
      <p>Imprint: <%= bookinstance.imprint %> </p>
      <p>
        Status:
        <% if (bookinstance.status === "Available") { %>
        <span class="success"><%= bookinstance.status %></span>
        <% } else if (bookinstance.status === "Maintenance") { %>
        <span class="danger"><%= bookinstance.status %></span>
        <% } else { %>
        <span class="warning"><%= bookinstance.status %></span>
        <% } %>
      </p>
      <% if (bookinstance.status !== "Available") { %>
      <p>Due back: <%= bookinstance.due_back_formatted %> </p>
      <% } %>
      <hr>
      <div>
        <a href="<%= `${bookinstance.url}/update` %>">Update book instance</a>
      </div <div>
      <a href="<%= `${bookinstance.url}/delete` %>">Delete book instance</a>
    </div>
    </div>
  </main>
</body>

</html>