<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}); %>

<body>
  <main>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1>
        <%= title %>:
        <%= bookinstance.id %>
      </h1>
      <%- console.log(bookinstance) %>
      <p>Title: <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a></p>
      <p>Imprint: <%= bookinstance.imprint %> </p>
      <p>
        Status:
        <% if (bookinstance.status === "Available") { %>
        <span class="success"><%= bookinstance.status %></span>
        <% } else if (bookinstance.status === "Maintenance") { %>
        <span class="danger"><%= bookinstance.status %></span>
        <% } else { %>
        <span class="warning"><%= bookinstance.status %></span>
        <% } %>
      </p>
      <% if (bookinstance.status !== "Available") { %>
      <p>Due back: <%= bookinstance.due_back_formatted %> </p>
      <% } %>
      <p>Do you really want to delete this book instance?</p>
      <form
        action=""
        method="POST"
      >
        <input
          type="hidden"
          id="<%= bookinstance._id %>"
          name="bookinstanceID"
          value="<%= bookinstance._id %>"
          required
        >
        <button type="submit">Delete</button>
      </form>
    </div>
  </main>
</body>

</html>