<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}); %>

<body>
  <main>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1>
        <%= title %>
      </h1>
      <h2>
        <%= genre.name %>
      </h2>
      <div>
        <a href="<%= `${genre.id}/update` %>">Update genre</a>
      </div>
      <div>
        <a href="<%= `${genre.id}/delete` %>">Delete genre</a>
      </div>
      <% genre_books.forEach(book=> { %>
      <ul>
        <li>
          <a href="<%= book.url %>">
            <%= book.title %>
          </a>
          <p><%= book.summary %></p>
        </li>
      </ul>
      <%}) %>
      <% if (genre_books.length === 0) { %>
      <h3>There are no books</h3>
      <% } %>
    </div>
  </main>
</body>

</html>