<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}); %>

<body>
  <main>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1><%= title %></h1>
      <div>Books: <%= book_count %></div>
      <div>Copies: <%= book_instance_count %></div>
      <div>Copies available: <%= book_instance_available_count %></div>
      <div>Authors: <%= author_count %></div>
      <div>Genres: <%= genre_count %></div>
    </div>
  </main>
</body>

</html>