<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="shortcut icon"
    href="#"
    type="image/x-icon"
  >
  <title><%= error.message %></title>
</head>

<body>
  <h3><%= error.name %></h3>
  <pre><%= error.message %></pre>
  <h2>Status: <%= error.status %></h2>
  <pre>Stack: <%= error.stack %></pre>
</body>

</html>